@model DepartmentViewModel
@{
	ViewData["Title"] = "Create";
	ViewBag.Action = "Create";
}

<h1>Create Department</h1>

<partial name="Partials/CreateEditDepartmentPartial" />


@section ValidationScript {

	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<partial name="_ValidationScriptsPartial" />
}