@model DepartmentViewModel
@{
	ViewData["Title"] = "Create";
	ViewBag.Action = "Create";
}

@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast show fade" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
            <div class="toast-header bg-primary text-white">
                <img src="https://via.placeholder.com/20" class="rounded me-2" alt="IKEA Logo">
                <strong class="me-auto">IKEA</strong>
                <small class="text-muted">Just now</small>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-light">
                <i class="bi bi-info-circle-fill text-primary"></i> @TempData["Message"]
            </div>
        </div>
    </div>
}

<h1>Create Department</h1>

<partial name="Partials/CreateEditDepartmentPartial" />


@section ValidationScript {

	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<partial name="_ValidationScriptsPartial" />
}